<div class="container">
  <table class="table table-bordered table-striped">
    <tr>
      <td>
        Id
      </td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="person.Id"  >
      </td>
    </tr>
    <tr>
      <td>
        Name
      </td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="person.Name">
      </td>
    </tr>
    <tr>
      <td>
        <input type="button" value="New" class="btn btn-default" (click)="clearPerson()">
      </td>
      <td>
        <input type="button" value="Save" class="btn btn-success" (click)="addPerson()">
      </td>
    </tr>
  </table>
</div>