<nav  class="headerbar headerbar-{{getThemeName()}} headerbar-bg"  >

   <div>
        <mat-toolbar-row>
                <button class="hamburger mat-button" (click)="toggleSidebar()" mat-button="" title="Docs menu" >
                        <span class="fa fa-bars fa-2x">
                         </span>
                         <div class="mat-button-ripple mat-ripple" matripple="">
           
                         </div><div class="mat-button-focus-overlay"></div>
                 </button>
              
                 <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="changeTheme('default')">
                          <span class="fa fa-circle fa-2x" style="color:blue"></span>
                        </button>
                        <button mat-menu-item (click)="changeTheme('red')">
                           <span class="fa fa-circle fa-2x" style="color:red"></span>
                        </button>
                        <button mat-menu-item (click)="changeTheme('purple')">
                            <span class="fa fa-circle fa-2x" style="color:purple"></span>
                         </button>
                         <button mat-menu-item (click)="changeTheme('BW')">
                          <span class="fa fa-circle fa-2x" style="color:Black"></span>
                       </button>
                       <button mat-menu-item (click)="changeTheme('WB')">
                        <span class="fa fa-circle fa-2x" style="color:white;border:1px solid black;border-radius: 50%"></span>
                     </button>
                      </mat-menu>
                      
                      
        </mat-toolbar-row>
      </div> 

</nav>